[ISMIP-HOM-TEST]

[parameters]
geothermal = -42e-3
flow_factor = 1
default_flwa = 1.0e-16

[CF output]
variables = thk topg 
frequency = 1
name = mismip3D.stnd.out.nc

[grid]
upn = 11
ewn = 513
nsn = 65
dew = 1562.5
dns = 1562.5
sigma_builtin = 1

[time]
tstart = 0.
tend = 1.
dt = 1.

[CF default]
comment = MISMIP 3D, stnd
title = MISMIP 3D, stnd

[options]
flow_law = 2        #Isothermal = 2
evolution = 0
diagnostic_run = 1

[ho_options]
diagnostic_scheme = 3
which_ho_sparse = 1
which_ho_babc = 4
which_ho_resid = 1
which_ho_efvs = 0

[CF input]
name = mismip3D.init.nc
time = 1

[external_dycore_options]
external_dycore_type = 0
dycore_input_file = inputs.mismip3D.stnd.l@MAXLEVEL

