export(amr.load, amr.write, amr.free, amr.free.all, amr.query.compnames, amr.query.ncomp,
       amr.query.nlevel, amr.query.nfab, amr.read.fab, amr.write.fab, amr.apply)

useDynLib("libamrfile2d.Linux.64.g++.gfortran")
