[ISMIP-HOM-TEST]

[parameters]
geothermal = -42e-3
flow_factor = 1
default_flwa = 1.0e-16

[CF output]
variables = thk topg 
frequency = 1
name = pig.1km.out.nc

[grid]
upn = 11
ewn = 257
nsn = 385
dew = 1000
dns = 1000
sigma_builtin = 1

[time]
tstart = 0.
tend = 1.
dt = 1.

[CF default]
comment = Pine Island Glacier, FRISP run
title = Pine Island Glacier, 1km res

[options]
flow_law = 2        #Isothermal = 2
evolution = 0
diagnostic_run = 1

[ho_options]
diagnostic_scheme = 3
which_ho_sparse = 1
which_ho_babc = 4
which_ho_resid = 1
which_ho_efvs = 0

[CF input]
name = pigv5.1km.nc
time = 1

[external_dycore_options]
external_dycore_type = 0
dycore_input_file = inputs.pigv5.1km.@SMOD.l@MAXLEVEL

